*.o
*.swp
*.user
*.ncb
*.suo
*.pdb
Makefile
Makefile.Debug
Makefile.Release
build
tags
kdchart-2.4-source
kdchart-2.4-source--old
kdchart-2.5.0-r22dd2f2e-patched
qwt-6.0.1
data/test.sqlite
panda_advanced.ini
panda.ini
byonic_advanced.ini
byonic.ini
labels.xml
*.exe
debug/*
resources/dummy_database_import/Debug/*
resources/dummy_database_import/Release/*
resources/qwt-6.0.1/*
resources/qwt-build*
resources/dummy_database_import/UpgradeLog.XML
resources/dummy_database_import/_UpgradeReport_Files/
resources/dummy_database_import/dummy_database_import_vs2008.sdf
resources/dummy_database_import/dummy_database_import_vs2008.sln.old
resources/dummy_database_import/dummy_database_import_vs2008.vcxproj
resources/dummy_database_import/dummy_database_import_vs2008.vcxproj.filters
resources/dummy_database_import/ipch/
resources/dummy_database_import/dummy_database_import_vs2008.opensdf
Win32/*
GeneratedFiles/*
panda/GeneratedFiles/*
panda/win32/*
common/debug/*
common/release/*
common/Win32/*
common/GeneratedFiles/*
common_issa/debug/*
common_issa/release/*
common_issa/Win32/*
common_issa/GeneratedFiles/*
by/Win32/*
by/debug/*
by/release/*
panda/debug/*
panda/release/*
by/GeneratedFiles/*
local_tmp.txt
issa/Win32/*
issa/debug/*
issa/release/*
issa/GeneratedFiles/*
issa/2011/*
byologic/Win32/*
byologic/debug/*
byologic/release/*
byologic/GeneratedFiles/*
byologic/2011/*
*.vcproj
*.sln
*.sdf
*.opensdf
Thumbs.db
*.lnk
by/vc90.idb
by/vc90.pdb
*.issa
pmac/Win32/*
pmac/debug/*
pmac/release/*
pmac/GeneratedFiles/*
pmac/2011/*
byomap/Win32/*
byomap/debug/*
byomap/release/*
byomap/GeneratedFiles/*
byomap/2011/*
byomap_console/Win32/*
byomap_console/debug/*
byomap_console/release/*
byomap_console/GeneratedFiles/*
byomap_console/2011/*
byomap_console/byomap_tmp_files*
sandbox/Win32/*
sandbox/debug/*
sandbox/release/*
sandbox/GeneratedFiles/*
sandbox/2011/*
git_version2.txt
build-y_plot-Desktop-Release
*.filters
*.vcxproj
*.tmp
*.18
*-pre1
*.orig
byologic/My Amplifier XE Results - PMi-Byologic/
post_build_copy/debug/
post_build_copy/release/
.klocwork/
.cov/
tests/debug/*
tests/release/*
git_version_intact.txt
kwinject.out
*.pyc
*.c94f0f7
supernovo/resources/documentation/Supernovo User Guide.pdf
git_supernovo.txt
tests/auto/MSReaderAgilentTest/*
/pmi_externals_libs*